*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:
linear-gradient(
180deg,
#050505,
#101b3a
);

color:white;

font-family:
Arial,sans-serif;

}

header{

padding:14px;

}

.top{

display:flex;

align-items:center;

gap:14px;

}

.logo{

width:72px;

height:72px;

border-radius:50%;

}

.player{

position:sticky;

top:0;

z-index:999;

background:

rgba(
5,
5,
5,
0.95
);

padding:12px;

backdrop-filter:

blur(15px);

}

video{

width:100%;

aspect-ratio:16/9;

border-radius:18px;

background:black;

}

/* CATEGORY */

.category{

display:flex;

gap:10px;

overflow-x:auto;

padding:12px;

}

.category button{

position:relative;

background:

linear-gradient(
90deg,
#242424,
#313131
);

color:white;

border:none;

padding:12px 20px;

border-radius:24px;

white-space:nowrap;

}

.category button.active{

background:

linear-gradient(
90deg,
#ff244f,
#6a5cff
);

}

.category button.active::after{

content:"";

position:absolute;

top:-6px;

right:-6px;

width:22px;

height:22px;

display:flex;

align-items:center;

justify-content:center;

background:#fff;

color:#000;

border-radius:50%;

font-size:12px;

}

/* CHANNEL */

.channels{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
150px,
1fr
)

);

gap:14px;

padding:14px;

}

.card{

background:

linear-gradient(
145deg,
#131313,
#222
);

padding:16px;

border-radius:18px;

text-align:center;

position:relative;

cursor:pointer;

}

.card.active{

border:

2px solid

#ff2d55;

}

.card.active::before{

content:"🔻";

position:absolute;

top:8px;

right:8px;

font-size:14px;

color:#ff244f;

}

.card img{

width:60px;

height:60px;

border-radius:50%;

object-fit:cover;

margin-bottom:10px;

}

.card div{

font-size:14px;

}

/* MOBILE */

@media(
max-width:768px
){

.logo{

width:60px;

height:60px;

}

}

/* LAPTOP */

@media(
min-width:900px
){

body{

max-width:1400px;

margin:auto;

}

.channels{

grid-template-columns:
repeat(
5,
1fr
);

}

video{

max-height:620px;

}

}
