*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:
linear-gradient(
180deg,
#070707,
#10172d
);

color:white;

font-family:Arial;

}

header{

padding:14px;

}

.top{

display:flex;

align-items:center;

gap:14px;

}

.logo{

width:72px;

height:72px;

border-radius:50%;

border:2px solid #ff4d4d;

}

.player{

position:sticky;

top:0;

z-index:999;

padding:10px;

background:
rgba(
7,
7,
7,
0.95
);

backdrop-filter:
blur(12px);

}

video{

width:100%;

aspect-ratio:16/9;

border-radius:18px;

box-shadow:
0 0 40px
rgba(
255,
0,
120,
.25
);

}

.category{

display:flex;

gap:10px;

overflow:auto;

padding:12px;

}

.category button{

background:
linear-gradient(
90deg,
#ff4d4d,
#6a5cff
);

color:white;

border:none;

padding:12px 18px;

border-radius:24px;

}

.channels{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:14px;

padding:14px;

}

.card{

background:
linear-gradient(
135deg,
#131313,
#1d2640
);

border-radius:18px;

padding:14px;

text-align:center;

position:relative;

transition:.25s;

}

.card img{

width:62px;

height:62px;

border-radius:50%;

object-fit:cover;

border:2px solid white;

margin-bottom:10px;

}

.card.active{

border:
2px solid
#ff3d6e;

box-shadow:
0 0 30px
rgba(
255,
61,
110,
.6
);

transform:
scale(
1.03
);

}

.card.active::after{

content:
"▶ PLAYING";

position:absolute;

top:8px;

right:8px;

background:
#ff244f;

padding:

4px 8px;

border-radius:

20px;

font-size:

10px;

}

.card:active{

transform:
scale(.95);

}
